body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.color-container {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 4px;
}

a {
    text-decoration: none;
}